@define-color foreground #a6accd;
@define-color background #11111b;

@define-color selected-text #eeeeee;
@define-color selected-background #2a2e3f;
@define-color error-text #d0679d;

@define-color text #a6accd;
@define-color base #11111b;
@define-color border #ff9b71f2;

@define-color cursor #e4f0fb;

/**
* Main Window Wrapper
*/
.box-wrapper {
  margin: 0;
  padding: 0;
  background: @background;
  border-radius: 8px;
}

/**
* Search Input
*/
.search-container {
  margin: -4px -6px -2px;
  border-radius: 6px;
}

.input {
  min-height: 0;
  padding: 8px 18px;
  color: @foreground;
  background: lighter(@background);
  border-radius: 6px;
  caret-color: @cursor;
}

/**
* Scrollbar
*/
scrollbar {
  display: none;
}

/**
* ItemBox
*/
.item-box {
  min-height: 0;
  padding: 0;
  margin: 4px;
  border-radius: 6px;
}

.item-box:hover,
child:hover .item-box,
child:selected .item-box {
  background: @selected-background;
}

/**
* Error
*/
.error {
  color: @error-text;
}
